body {
    font-family: Arial, sans-serif;
}

#form {
    display: flex;
    flex-direction: column;
}

.h {
    font-weight: 600;
}

.new-title {
    width: 100%;
    height: 25px;
    top: 23px;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
}
.new-article-category {
    width: 100%;
    height: 25px;
    top: 23px;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
}
.mood {
    width: 100%;
    height: 25px;
    top: 23px;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    margin-top: 10px;
}

.new-content {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #FFFFFF;
    border: 1px solid black;
    margin-top: 10px;
}

.option {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title {
    margin-top: 30px;
}

.category {
    margin-top: 30px;
}

.mood-h {
    margin-top: 30px;
}

.content {
    margin-top: 30px;
}

.add-new-article {
    margin-top: 30px;
    width: 43.720001220703125px;
    height: 35px;
    border-radius: 5px;
    background-color: #28A745;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.public {
    background-color: #D1FAE5;
    color: #065F46;
    padding: 5px 10px;
}

.private {
    background-color: #FEE2E2;
    color: #991B1B;
    padding: 5px 10px;
}

.upload-area {
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    transition: border-color 0.3s;
    width: 300px;
  }
  
  .upload-area:hover {
    border-color: #888;
  }
  
  .upload-box .icon {
    font-size: 36px;
    margin-bottom: 8px;
  }
  
  .upload-box p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  

