.avt {
    position: relative;
    left: 220px;
    top: 50px;
}

#detail {
    width: 1000px;
    background-color: #e2e2e2;
    margin: auto;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    margin-top: auto;
    text-align: center;
}

#detail p {
    text-align: left;
}

#back {
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: none;
    cursor: pointer;
}

#back:hover {
    background-color: #a5a5a5;
}

.like-comment {
    display: flex;
    gap: 20px;
    align-items: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-content {
    background: white;
    height: fit-content;
    box-sizing: 5px;
    padding: 10px;
    border-radius: 5px;
    max-width: 90%;
    width: 400px;
    position: relative;
    left: 38%;
    text-align: center;
}

.close {
    margin-left: 90%;
    cursor: pointer;
}

li {
    list-style: none;
}

.comment-style {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 20px;
}

.btndelet {
    border-radius: 2px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
}

